.container {
    width: 90%;
    height: 100%;
    margin: auto;
    object-fit: contain;
}
.frame {
    width: 90%;
    height: 90%;
    margin: auto;
    object-fit: contain;
}
.imagedisplay {
    max-width: 750px;
    object-fit: contain;
}
.navDot {
  height: 25px;
  width: 25px;
  margin: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.navDot:hover {
    background-color: white;
}
.imagedotcontainer {
    max-width: 50%;
    padding-left: 25%;
    padding-right: 25%;
}

